body{
    padding: 20px;
    background: #e5e5e5;
}
.select{
    width: 100px;
}
.mylabel{
    margin-top: 10px;
}
.input {
    width: 200px;
}
.divider{
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background-color: #5e5e5e;
}